/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 /* editor and front end */

 $color-text:      var(--color-text, none);
 $color-bkg:       var(--color-bkg, none);
 $color-bkg-hover: var(--color-bkg-hover, none);

.wp-block-tiptip-hyperlink-group-block, .wp-block-tiptip-hyperlink-group-block a p {
	cursor: pointer;
	display: block;
	color: $color-text;
	background-color: $color-bkg;

	&:hover {
			background-color: $color-bkg-hover;
	}
}

.wp-block-tiptip-hyperlink-group-block {

	// "Float" style variation.
	&.is-style-grid {

		@media only screen and (min-width: 248px) {

			// dd {
			// 	padding-left: 2em;
			// }

			// display: grid;
			// grid-template-columns: auto 1fr;
			// grid-template-columns: auto auto;
			// align-items: center;
		}
	}
}


